@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/files/js/main.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" href="../logo.png" type="image/png">
    <link rel="stylesheet" href="~/files/css/styleLogin.css">
    <title>Login - Gestión de Proyectos</title>
</head>

<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>