<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/files/images/logo.png" type="image/png">
    <link rel="stylesheet" href="~/files/css/style.css">
    <title>Áreas de Participación - Index</title>
</head>

<body>
    <header class="encabezado">
        <a href="~/Administrador">
            <img src="~/files/images/logoTec.png" alt="Logo ITESRC">
        </a>
        <div>
            <h1>Instituto Tecnológico de Estudios Superiores de la Región Carbonífera</h1>
            <h2>Control de Proyectos</h2>
        </div>

        @*<h1>Administrador</h1>*@

        @*<ul>
            <li>
                <a href="~/Administrador/">Inicio</a>
            </li>

            <li>
                <a href="~/Administrador/Alumno">Alumnos</a>
            </li>

            <li>
                <a href="~/Administrador/Area">Areas</a>
            </li>

            <li>
                <a href="~/Administrador/Asesor">Asesores</a>
            </li>

            <li>
                <a href="~/Administrador/Carrera">Carreras</a>
            </li>

            <li>
                <a href="~/Administrador/Proyecto">Proyectos</a>
            </li>

            <li>
                <a href="~/Administrador/ProyectoAlumno">Proyectos por <strong>Alumnos</strong> </a>
            </li>

            <li>
                <a href="~/Administrador/ProyectoAsesor">Proyectos por <strong>Asesor</strong> </a>
            </li>

            <li>
                <a href="~/Administrador/Rol">Roles</a>
            </li>

            <li>
                <a href="~/Administrador/Usuario">Usuarios</a>
            </li>

        </ul>*@
    </header>

    <main>
        @RenderBody()
    </main>

    <footer></footer>
</body>
</html>