@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="areasConocimiento">
    <h3>Inicio - Administrador</h3>
    
    <div class="areas">
        <ul>
            <li>
                <a href="~/Administrador/Area">Áreas de Conocimiento</a>
            </li>
            <li>
                <a href="~/Administrador/Carrera">Carreras</a>
            </li>
            <li>
                <a href="~/Administrador/Rol">Roles</a>
            </li>
            <li>
                <a href="~/Administrador/Tipoinvestigacion">Tipos de Investigaciones</a>
            </li>

            <hr />
            <br />

            <li>
                <a href="~/Administrador/Categoria">Categorías</a>
            </li>
        </ul>
    </div>
</div>